.video-player-wrapper {
    padding: 16px;
}

.hidden-file-input {
    display: none;
}

.error-text {
    color: red;
}

.video-player-section {
    padding: 16px;
}

.playlist {
    overflow-y: scroll;
    max-height: 90vh;
}

.large-gap-grid {
    display: grid;
    grid-gap: 16px;
}

.extra-large-gap-grid {
    display: grid;
    grid-gap: 32px;
}

.medium-gap-column-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    justify-content: start; 
}

.playlist-item-container {
    display: grid;
    margin: 16px 0;
}

.playlist-video-item {
    cursor: pointer;
}

.playlist-video-item:hover {
    background: #737373
}

.playlist-video-item.selected {
    background: #666666
}

.video-wrapper {
    height: 80%;
    width: 80%;
}