.hidden-file-input {
    display: none;
}

.upload-error {
    padding-left: 24px;
    color: red;
}

.video-display-wrapper {
    overflow-y: scroll;
    height: 100vh;
    padding: 16px;
}

.video-display {
    display: grid;
    gap: 16px;
}

.video-display .subtitle {
    font-weight: bold;
}

.video-display hr {
    background: #666666;
}

.video-wrapper {
    height: 80%;
    width: 80%;
}

.playlist-sidebar {
    height: 100vh;
    background: #323232 !important;
    border: 1px solid #666666;
    display: grid;
    gap: 16px;
    align-content: start;
}

.playlist-content {
    overflow-y: scroll;
}

.playlist-video-group {
    background: #323232 !important;
}

.list-item {
    cursor: pointer;
}

.list-item:hover {
    background: #424242;
}

.list-item.selected {
    background: #666666;
}

.toolbar {
    display: grid !important;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
}

.toolbar-buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
}

.toolbar-button:hover {
    background-color: #424242 !important;
}